<html>
<head>
	<title>Django Jssor Example: {{ page.title }}</title>
	<style>
	body {
		padding:0;
		margin:0;
	}
	#header {
		background-color:firebrick;
		color:white;
		padding:1em;
		font-size:140%;
	}
	#slideshow {
		width:100%;
		text-align:center;
	}
	</style>
</head>

<body>
{% if not fullscreen %}
	<div id="header">
		Django Jssor Example
	</div>
{% endif %}
<div id="slideshow"></div>
{% include "jssor/loader.html" %}
<div id="content">
	{% if page.content %}{{ page.content|safe }}{% endif %}
</div>
</body>
</html>